node_modules
dist
.git
.gitignore
.env
env/.env.local
*.log
npm-debug.log*
.DS_Store
coverage
.vscode
.idea
*.md
test
.prettierrc
eslint.config.mjs
tsconfig.json
tsconfig.build.json
nest-cli.json
docker-compose.yml
Dockerfile